[build]
builder = "NIXPACKS"

[deploy]
startCommand = "cd server && pnpm start:prod"
healthcheckPath = "/api/health"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

